conversa-com-passos
logbook-mestrado.pdf
*.fasl
*.ps
preenchimento-composicao/*.pdf
opus-6-composicao-mestrado/partitura/pdf
dissertacao/lily/*.pdf
dissertacao/*.pdf
dissertacao/lily/*.tex
dissertacao/lily/*.texi
*.midi
*.aux
*.bbl
*.blg
*.dvi
*.bbl
*.log
*.midi
*.ps
instrumentos_op
opus-6-composicao-mestrado/script/systemfiles/gestos*
*.toc
figs-out
*.lof
*.lot
*.ist
*.gl*
*.wav
*.old
*.eps
