conversa-com-passos
logbook-mestrado.pdf
*.fasl
dissertacao/dissertacao*.ps
preenchimento-composicao/*.pdf
preenchimento-composicao/*.midi
preenchimento-composicao/*.ps
projeto-dissertacao/projeto-dissertacao.ps
projeto-dissertacao/projeto-dissertacao.pdf
opus-6-composicao-mestrado/partitura/pdf
opus-6-composicao-mestrado/partitura/audio
opus-6-composicao-mestrado/script/systemfiles/gestos*
opus-6-composicao-mestrado/script/temp
dissertacao/*.pdf
dissertacao/paginas-composicao.tex
dissertacao/lily-*
dissertacao/snippet*
dissertacao/lily/*.pdf
dissertacao/lily/*.tex
dissertacao/lily/*.texi
dissertacao/lily/*.midi
dissertacao/data/*.pdf
dissertacao/figs/*.pdf
defesa/*.nav
defesa/*.out
defesa/*.ps
defesa/*.pdf
defesa/*.snm
defesa/lista-de-topicos/*.nav
defesa/lista-de-topicos/*.out
defesa/lista-de-topicos/*.ps
defesa/lista-de-topicos/*.pdf
defesa/lista-de-topicos/*.snm
defesa/audio/*.ps
defesa/audio/*.pdf
defesa/audio/*.midi
*.aux
*.bbl
*.blg
*.dvi
*.bbl
*.log
*.toc
figs-out
*.lof
*.lot
*.ist
*.gl*
*.old
*.eps
*.dep